@media screen and (min-width: 1350px) {
  .menuBurgerList {
    visibility: hidden !important;
  }
}

@media screen and (min-width: 1390px) {
  .imagesMain {
    display: grid;
    grid-template-columns: repeat(3, 26rem);
    grid-auto-rows: 26rem;
    padding-top: 4%;
    width: 100%;
    padding-left: 33% !important;
  }

  .imagesMain img {
    width: 24rem !important;
    height: 24rem !important;
    object-fit: cover;
  }
}

@media screen and (min-width: 1550px) {
  .imagesMain {
    display: grid;
    grid-template-columns: repeat(3, 26rem);
    grid-auto-rows: 26rem;
    padding-top: 4%;
    width: 100%;
    padding-left: 12.5% !important;
  }

  .imagesMain img {
    width: 24rem !important;
    height: 24rem !important;
    object-fit: cover;
  }
}
@media screen and (max-width: 1550px) and (min-width: 1350px) {
  .imagesMain {
    display: grid;
    grid-template-columns: repeat(3, 26rem);
    grid-auto-rows: 26rem;
    padding-top: 4%;
    width: 100%;
    padding-left: 9% !important;
  }

  .imagesMain img {
    width: 25rem !important;
    height: 26vw !important;
    object-fit: cover;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1350px) {
  .imagesMain {
    display: grid;
    grid-template-columns: repeat(3, 32vw) !important;
    grid-auto-rows: 24rem !important;
    padding-top: 4%;
    padding-left: 2% !important;
    width: 100%;
    position: relative;
  }

  .imagesMain img {
    width: 30vw !important;
    height: 22rem !important;
    object-fit: cover;
  }

  .logo {
    margin-left: -50% !important;
  }
}

@media screen and (max-width: 1000px) {
  .menu ul li {
    display: none;
    height: 0;
    width: 0;
  }
  .logo {
    position: absolute;
    top: 5%;
  }
  .menuBurger {
    display: block !important;
  }

  header {
    height: 90vh !important;
  }

  .imgBanner {
    height: 90vh !important;
    width: 100%;
    object-fit: cover;
    animation: comein 2s 1;
  }
  .banner h2 {
    font-size: max(18px, 1.6rem) !important;
  }

  .spanBanner {
    font-size: max(5vw, 20px) !important;
  }

  .photoMenu {
    height: 6vh !important;
    padding: 2% 0 !important;
    margin-top: 0% !important;
  }

  .imagesMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-auto-rows: 23rem !important;
    padding-top: 4%;
    margin-left: 2%;
    width: 100%;
    position: relative;
  }

  .imagesMain img {
    width: 22rem !important;
    height: 22rem !important;
    object-fit: cover;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .menuBurger {
    display: block !important;
  }

  .menu ul li {
    display: none;
    height: 0;
    width: 0;
  }

  .logo {
    position: absolute;
    top: 5%;
    margin-left: -70% !important;
  }

  header {
    height: 80vh !important;
  }

  .imgBanner {
    height: 80vh !important;
    width: 100%;
    object-fit: cover;
    animation: comein 2s 1;
  }
  .banner h2 {
    font-size: max(18px, 1.6rem) !important;
  }

  .spanBanner {
    font-size: max(5vw, 20px) !important;
  }

  .photoMenu {
    padding: 2% 0 !important;
    height: 6vh !important;
    margin-top: 0% !important;
  }

  .imagesMain {
    display: grid;
    grid-template-columns: repeat(2, 38vw) !important;
    grid-auto-rows: 23rem !important;
    padding-top: 4%;

    width: 100%;
    position: relative;
  }

  .imagesMain img {
    width: 35vw !important;
    height: 22rem !important;
    object-fit: cover;
  }
}

@media screen and (max-width: 700px) {
  .menuBurger {
    display: block !important;
  }

  .menu ul li {
    display: none;
    height: 0;
    width: 0;
  }
  .menu-item a[href="#home"] {
    position: absolute;
    top: 13% !important;
    right: 44% !important;
    bottom: 60%;
  }

  .menu-item a[href="#imgs"] {
    position: absolute;
    top: 44%;
    right: 32% !important;
    bottom: 10%;
  }

  .menuBurgerList a {
    font-size: 0.9rem !important;
  }
  .logo {
    position: absolute;
    top: 5%;
    margin-left: -70% !important;
  }
  header {
    height: 80vh !important;
  }

  .imgBanner {
    height: 80vh !important;
    width: 100%;
    object-fit: cover;
    animation: comein 2s 1;
  }
  .banner h2 {
    font-size: max(18px, 1.6rem) !important;
  }

  .spanBanner {
    font-size: max(5vw, 20px) !important;
  }

  .photoMenu {
    padding-top: 6% !important;
    height: 5vh !important;
    margin-top: 0 !important;
  }

  .imagesMain {
    display: grid;
    grid-template-columns: repeat(1, 75vw) !important;
    grid-auto-rows: 23rem !important;
    padding-top: 4%;
    padding-left: 9.2% !important;
    width: 100%;
    position: relative;
  }

  .imagesMain img {
    width: 70vw !important;
    height: 22rem !important;
    object-fit: cover;
  }
}

@media screen and (max-width: 400px) {
  .menuBurger {
    display: block !important;
  }

  .menu ul li {
    display: none;
    height: 0;
    width: 0;
  }

  .menu-item a[href="#home"] {
    position: absolute;
    top: 13% !important;
    right: 24% !important;
    bottom: 60%;
  }

  .menu-item a[href="#imgs"] {
    position: absolute;
    top: 44%;
    right: 8% !important;
    bottom: 10%;
  }

  .menuBurgerList a {
    font-size: 0.9rem !important;
  }
  .logo {
    position: absolute;
    top: 5%;
  }
  header {
    height: 80vh !important;
  }

  .imgBanner {
    height: 80vh !important;
    width: 100%;
    object-fit: cover;
    animation: comein 2s 1;
  }
  .banner h2 {
    font-size: max(18px, 1.6rem) !important;
  }

  .spanBanner {
    font-size: max(5vw, 20px) !important;
  }

  .photoMenu {
    padding-top: 6% !important;
    height: 5vh !important;
    margin-top: 0 !important;
  }

  .imagesMain {
    display: grid;
    grid-template-columns: repeat(1, 19rem) !important;
    grid-auto-rows: 23rem !important;
    padding-top: 4%;
    width: 100%;
    position: relative;
    padding-left: 5.5% !important;
  }

  .imagesMain img {
    width: 18rem !important;
    height: 22rem !important;
    object-fit: cover;
  }
}
